<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | MediCare Center</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>

    <div class="img-box">
        <div class="bg-img">
            <img width="100%" src="static/bg.png" alt="BG-img">
        </div>
        <!-- Navbar -->
        <nav>
            <div class="logo">
                <img class="logo-img" src="{{ url_for('static', filename='img.png') }}" alt="Logo">
                <span class="nav-title"><strong>MediCare Center</strong></span>
            </div>
            <span id="nav-search"><a href="/predict"><strong>Start Diagnosis</strong></a></span>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <!-- About Content -->
        <main>
        <h1>About Us</h1>
        <div class="container extra">
            <p>
                MediCare Center is a smart health prediction platform that utilizes machine learning
                to analyze symptoms and provide probable disease outcomes. This helps individuals take
                timely action by knowing their condition and following the suggested precautions and medications.
            </p>
            <p>
                Our mission is to empower people with AI-based preliminary health insights to improve awareness
                and bridge the gap between symptoms and consultation.
            </p>
        </div>
        </main>
    </div>

    <footer>
        <div class="foot-con">
            <p>&copy; 2025 MediCare Centre. All Rights Reserved.</p>
        </div>
    </footer>


</body>

</html>