<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | MediCare Center</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>

    <div class="img-box">
        <div class="bg-img">
            <img width="100%" src="static/bg.png" alt="BG-img">
        </div>
        <!-- Navbar -->
        <nav>
            <div class="logo">
                <img class="logo-img" src="{{ url_for('static', filename='img.png') }}" alt="Logo">
                <span class="nav-title"><strong>MediCare Center</strong></span>
            </div>
            <span id="nav-search"><a href="/predict"><strong>Start Diagnosis</strong></a></span>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <!-- Contact Content -->
        <main>
            <h1>Contact Us</h1>
            <div class="container extra">
                <div class="contact-details">
                    <p>Email: support@medicarecenter.com</p>
                    <p>Phone: +91-9876543210</p>
                    <p>Address: AI Campus, Innovation Street, India</p>
                    <p>We are here to assist you 24/7. Don't hesitate to reach out for queries or feedback!</p>
                </div>
            </div>
        </main>
    </div>


    <footer>
        <div>
            <p>&copy; 2025 MediCare Centre. All Rights Reserved.</p>
        </div>
    </footer>

</body>

</html>