<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediCare Center</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>

    <div class="img-box">

        <div class="bg-img">
            <img width="100%" src="static/bg.png" alt="BG-img">
        </div>

        <!-- Navbar -->
        <nav>
            <div class="logo">
                <img class="logo-img" src="{{ url_for('static', filename='img.png') }}" alt="Logo">
                <span class="nav-title"><strong>MediCare Center</strong></span>
            </div>
            <span id="nav-search"><a href="/predict"><strong>Start Diagnosis</strong></a></span>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>

        <main class="home-content">
            <h1>Welcome to the Disease Prediction System</h1>
            <p> Our intelligent system predicts possible diseases based on symptoms you provide. </p>
            <p> Get instant results along with description, medications, and precautions. </p>
        </main>
        
        <div class="features">
            <div class="feature-box">
                <h3>AI-Based Prediction</h3>
                <p>Our system uses machine learning to predict diseases based on user input.</p>
            </div>
            <div class="feature-box">
                <h3>Instant Results</h3>
                <p>Get real-time feedback, possible medications, and important precautions.</p>
            </div>
            <div class="feature-box">
                <h3>User Friendly</h3>
                <p>A clean and easy-to-use interface to ensure a smooth experience.</p>
            </div>
        </div>
        <div id="pred-link"><a href="/predict">Start Diagnosis</a></div>
        <div><h2>⚠️ Note: This tool is not a replacement for a doctor. Always consult a medical professional.</h2></div>
    </div>


    <footer>
        <div class="foot-con">
            <p>&copy; 2025 MediCare Centre. All Rights Reserved.</p>
        </div>
    </footer>


</body>

</html>